node-red/dashboard.json
[
    {
        "id": "dedb609fdca782cf",
        "type": "tab",
        "label": "BeagleBoard Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43040e6c5dd4a8ae",
        "type": "tab",
        "label": "Each BeagleBoard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe9aebd46da3c6df",
        "type": "tab",
        "label": "rtl433_1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "668e86253d2aaf14",
        "type": "subflow",
        "name": "Temperature Alarms",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 200,
                "wires": [
                    {
                        "id": "7380376bfdd30698"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "bff3027feee406c2",
        "type": "mqtt-broker",
        "name": "rbtmq01.duchess.burkholder.net",
        "broker": "rbtmq01.duchess.burkholder.net",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b109790f8d19682e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "BeagleBoard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "af0a356f177c5d36",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "BeagleBoard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0140d16004fcade8",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "b109790f8d19682e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17aa9ac215792b8f",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "b109790f8d19682e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b40f3942ccabeb0",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "b109790f8d19682e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7380376bfdd30698",
        "type": "function",
        "z": "668e86253d2aaf14",
        "name": "temperature email alerts",
        "func": "\n\nif ( flow.hiTemperatureAlert < msg.payload.values.t ) {\n    if ( !flow.triggeredTemperatureHigh ) {\n        flow.triggeredTemperatureHigh = true;\n        flow.triggeredTemperatureOk = false;\n        node.send({\n            to: \"ray@oneunified.net\",\n            from: msg.payload.device + \"@oneunified.net\",\n            topic: msg.payload.device + \" temperature high alert\",\n            payload: msg.payload\n        })\n    }\n}\n\nif ( !flow.triggeredTemperatureOk ) {\n    if ( ( flow.hiTemperatureOk > msg.payload.values.t )\n      && ( flow.loTemperatureOk < msg.payload.values.t )\n    ) {\n        flow.triggeredTemperatureHigh = false;\n        flow.triggeredTemperatureOk = true;\n        flow.triggeredTemperatureLow = false;\n        node.send({\n            to: \"ray@oneunified.net\",\n            from: msg.payload.device + \"@oneunified.net\",\n            topic: msg.payload.device + \" temperature return to normal\",\n            payload: msg.payload\n        })\n    }\n}\n\nif ( flow.loTemperatureAlert > msg.payload.values.t ) {\n    if ( !flow.triggeredTemperatureLow ) {\n        flow.triggeredTemperatureLow = true;\n        flow.triggeredTemperatureOk = false;\n        node.send({\n            to: \"ray@oneunified.net\",\n            from: msg.payload.device + \"@oneunified.net\",\n            topic: msg.payload.device + \" temperature low alert\",\n            payload: msg.payload\n        })\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.triggeredTemperatureHigh = false;\nflow.triggeredTemperatureOk = true;\nflow.triggeredTemperatureLow = false;\n\nflow.hiTemperatureAlert = 30;\nflow.hiTemperatureOk = 29;\nflow.loTemperatureOk = 19;\nflow.loTemperatureAlert = 18;\n",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "4f819e623b659b3d"
            ]
        ]
    },
    {
        "id": "4f819e623b659b3d",
        "type": "e-mail",
        "z": "668e86253d2aaf14",
        "server": "mail1.oneunified.net",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "ray@oneunified.net",
        "dname": "",
        "x": 560,
        "y": 200,
        "wires": [],
        "info": "These need to be set prior to start node-red from the ocmmand line\n\n$(EMAIL_USER)\n$(EMAIL_PWD)\n\n"
    },
    {
        "id": "9557291f23ca01e7",
        "type": "mqtt in",
        "z": "dedb609fdca782cf",
        "name": "beagle bme680",
        "topic": "/beagle/bme680",
        "qos": "1",
        "datatype": "json",
        "broker": "bff3027feee406c2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "7c733756c3720df9"
            ]
        ]
    },
    {
        "id": "7c733756c3720df9",
        "type": "json",
        "z": "dedb609fdca782cf",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 540,
        "wires": [
            [
                "88164ceab15b8a79"
            ]
        ]
    },
    {
        "id": "88164ceab15b8a79",
        "type": "switch",
        "z": "dedb609fdca782cf",
        "name": "split by device",
        "property": "payload.device",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "bb01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bb02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bb03",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "bb04",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "086424b45852bcd4",
                "7f829694fe0ca107",
                "5db94252c045ca6f",
                "b0f91f5613388a0e"
            ],
            [
                "849bb3992249412b",
                "4ba0b9892fd97628",
                "cfdc3ce5730fbf91",
                "c468ab6dde3ca07b"
            ],
            [
                "146a97a2b88eecd5",
                "b6c933ed0a381739",
                "4827b511870b5d9d",
                "1db177b8f1798714"
            ],
            [
                "c2a76db8559fee2b",
                "d75f36d91b7641a6",
                "61453f7d269c2278",
                "31bc6b1d73b2656e"
            ]
        ]
    },
    {
        "id": "eb7dd7a246276c6c",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb02 Temperature Gauge",
        "label": "deg Celcius",
        "format": "{{value}}",
        "min": "-30",
        "max": "40",
        "colors": [
            "#3584e4",
            "#2ec27e",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 800,
        "y": 660,
        "wires": []
    },
    {
        "id": "a76461da4fbddcf0",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb02 Pressure Gauge",
        "label": "millibar",
        "format": "{{value}}",
        "min": "850",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 740,
        "wires": []
    },
    {
        "id": "87d2e48dba3afbf5",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb02 Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 820,
        "wires": []
    },
    {
        "id": "849bb3992249412b",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 680,
        "wires": [
            [
                "eb7dd7a246276c6c",
                "281d502a4c525d57"
            ]
        ]
    },
    {
        "id": "4ba0b9892fd97628",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "a76461da4fbddcf0",
                "1bcda5d965da9a3c"
            ]
        ]
    },
    {
        "id": "cfdc3ce5730fbf91",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 840,
        "wires": [
            [
                "87d2e48dba3afbf5",
                "9aae0d6375c05ca5"
            ]
        ]
    },
    {
        "id": "281d502a4c525d57",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "bb02 Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "40",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1bcda5d965da9a3c",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "bb02 Pressure Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "850",
        "ymax": "1050",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9aae0d6375c05ca5",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "bb02 Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a77e6c97560c9e65",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb03 Temperature Gauge",
        "label": "deg Celcius",
        "format": "{{value}}",
        "min": "-30",
        "max": "40",
        "colors": [
            "#3584e4",
            "#2ec27e",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 800,
        "y": 940,
        "wires": []
    },
    {
        "id": "26125aaae8d16766",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb03 Pressure Gauge",
        "label": "millibar",
        "format": "{{value}}",
        "min": "850",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 1020,
        "wires": []
    },
    {
        "id": "05e7353bb3a63ec7",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb03 Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 1100,
        "wires": []
    },
    {
        "id": "146a97a2b88eecd5",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 960,
        "wires": [
            [
                "a77e6c97560c9e65",
                "5a3316df130eec36"
            ]
        ]
    },
    {
        "id": "b6c933ed0a381739",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1040,
        "wires": [
            [
                "26125aaae8d16766",
                "7da992154c826236"
            ]
        ]
    },
    {
        "id": "4827b511870b5d9d",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1120,
        "wires": [
            [
                "05e7353bb3a63ec7",
                "7f0929c91ada1e46"
            ]
        ]
    },
    {
        "id": "5a3316df130eec36",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "bb03 Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "40",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "7da992154c826236",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "bb03 Pressure Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "850",
        "ymax": "1050",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "7f0929c91ada1e46",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "bb03 Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "12d338f88583dd56",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb04 Temperature Gauge",
        "label": "deg Celcius",
        "format": "{{value}}",
        "min": "-30",
        "max": "40",
        "colors": [
            "#3584e4",
            "#2ec27e",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 800,
        "y": 1220,
        "wires": []
    },
    {
        "id": "f3181cca0982c597",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb04 Pressure Gauge",
        "label": "millibar",
        "format": "{{value}}",
        "min": "850",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 1300,
        "wires": []
    },
    {
        "id": "0892177a1e3acfd1",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb04 Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 1380,
        "wires": []
    },
    {
        "id": "c2a76db8559fee2b",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "12d338f88583dd56",
                "d4c747eb0ee6cc29"
            ]
        ]
    },
    {
        "id": "d75f36d91b7641a6",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1320,
        "wires": [
            [
                "f3181cca0982c597",
                "db7cedf2e061b012"
            ]
        ]
    },
    {
        "id": "61453f7d269c2278",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1400,
        "wires": [
            [
                "0892177a1e3acfd1",
                "1510980bda36be1c"
            ]
        ]
    },
    {
        "id": "d4c747eb0ee6cc29",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "bb04 Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "40",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "db7cedf2e061b012",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "bb04 Pressure Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "850",
        "ymax": "1050",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "1510980bda36be1c",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "bb04 Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "c468ab6dde3ca07b",
        "type": "subflow:668e86253d2aaf14",
        "z": "dedb609fdca782cf",
        "name": "",
        "x": 510,
        "y": 620,
        "wires": []
    },
    {
        "id": "1db177b8f1798714",
        "type": "subflow:668e86253d2aaf14",
        "z": "dedb609fdca782cf",
        "name": "",
        "x": 540,
        "y": 900,
        "wires": []
    },
    {
        "id": "31bc6b1d73b2656e",
        "type": "subflow:668e86253d2aaf14",
        "z": "dedb609fdca782cf",
        "name": "",
        "x": 520,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9b5d47f3633268d8",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb01 Temperature Gauge",
        "label": "deg Celcius",
        "format": "{{value}}",
        "min": "-30",
        "max": "40",
        "colors": [
            "#3584e4",
            "#2ec27e",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "f3c4c0a460ea1fc3",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "0140d16004fcade8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "bb01 Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "40",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "113969b41039dab8",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb01 Pressure Gauge",
        "label": "millibar",
        "format": "{{value}}",
        "min": "850",
        "max": "1050",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "62bfd4481f360e4b",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "17aa9ac215792b8f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "bb01 Pressure Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "850",
        "ymax": "1050",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "cea8e001a3fa1ac9",
        "type": "ui_gauge",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "bb01 Humidity Gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "b71413c0f13ea0b2",
        "type": "ui_chart",
        "z": "dedb609fdca782cf",
        "name": "",
        "group": "9b40f3942ccabeb0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "bb01 Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "6",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "086424b45852bcd4",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.h",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "cea8e001a3fa1ac9",
                "b71413c0f13ea0b2"
            ]
        ]
    },
    {
        "id": "7f829694fe0ca107",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.p",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "113969b41039dab8",
                "62bfd4481f360e4b"
            ]
        ]
    },
    {
        "id": "5db94252c045ca6f",
        "type": "change",
        "z": "dedb609fdca782cf",
        "name": "extract temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.values.t",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "9b5d47f3633268d8",
                "f3c4c0a460ea1fc3"
            ]
        ]
    },
    {
        "id": "b0f91f5613388a0e",
        "type": "subflow:668e86253d2aaf14",
        "z": "dedb609fdca782cf",
        "name": "bb01 temperature alarm",
        "env": [],
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "897ff88d8961b51b",
        "type": "mqtt in",
        "z": "fe9aebd46da3c6df",
        "name": "mqtt rtl433 dev 1",
        "topic": "rtl433/1",
        "qos": "1",
        "datatype": "json",
        "broker": "bff3027feee406c2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "bb82424722452fab"
            ]
        ]
    },
    {
        "id": "9a8e5b3a31b729ce",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "domoticz/in",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb82424722452fab",
        "type": "json",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "7bf8fb1763c5bf9b"
            ]
        ]
    },
    {
        "id": "7bf8fb1763c5bf9b",
        "type": "switch",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "property": "payload.model",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Fineoffset-WS90",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Prologue-TH",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DSC-Security",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Acurite-5n1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "9a0a38b8b166db10"
            ],
            [
                "9449628c1ae079f8"
            ],
            [
                "57916a01e675aa33"
            ],
            [
                "7e05fe2fea7cb5b7"
            ]
        ]
    },
    {
        "id": "9a0a38b8b166db10",
        "type": "switch",
        "z": "fe9aebd46da3c6df",
        "name": "ws90 id=14338",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "14338",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "0a6d3ee62a6c6845",
                "6b2447723ed892ad",
                "4faf98d1fa762ee5",
                "ca5fface8b108a24",
                "38dc0254480c7cb0",
                "7175cae1026d1d8d",
                "1e5759c5700106c8",
                "5c249f909f094174",
                "40fc984a854a8f2b",
                "38510b80cca55a6f",
                "db2b82d700ba7391"
            ]
        ]
    },
    {
        "id": "0a6d3ee62a6c6845",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "temperature",
        "func": "msg.payload = { \"command\": \"udevice\", \"idx\": 38, \"svalue\": msg.payload.temperature_C.toString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "9a8e5b3a31b729ce"
            ]
        ]
    },
    {
        "id": "6b2447723ed892ad",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "battery",
        "func": "msg.payload = { \"command\": \"udevice\", \"idx\": 40, \"svalue\": (msg.payload.battery_mV/1000.0).toString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 380,
        "wires": [
            [
                "0d25153c28528503"
            ]
        ]
    },
    {
        "id": "0d25153c28528503",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "4faf98d1fa762ee5",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "lux",
        "func": "msg.payload = { \"command\": \"udevice\", \"idx\": 37, \"svalue\": msg.payload.light_lux.toString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            [
                "a105d925bef12407"
            ]
        ]
    },
    {
        "id": "a105d925bef12407",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "ca5fface8b108a24",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "uvi",
        "func": "msg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 39, \n  \"nvalue\": 0,\n  \"svalue\": \n    msg.payload.uvi.toString() + \";\" +\n    msg.payload.temperature_C.toString()\n  };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 160,
        "wires": [
            [
                "f10f9c289e943377"
            ]
        ]
    },
    {
        "id": "f10f9c289e943377",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "38dc0254480c7cb0",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "supercap",
        "func": "msg.payload = { \"command\": \"udevice\", \"idx\": 45, \"svalue\": msg.payload.supercap_V.toString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "d683371703c7b744"
            ]
        ]
    },
    {
        "id": "1320715a78e6c163",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "1821381bbf29902d",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "bbfb0ab0c40dc057",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "d683371703c7b744",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "98b745d08d4a7a2f",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "92f99b44f6e4214d",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "7175cae1026d1d8d",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "snr",
        "func": "msg.payload = { \"command\": \"udevice\", \"idx\": 47, \"svalue\": msg.payload.snr.toString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "98b745d08d4a7a2f"
            ]
        ]
    },
    {
        "id": "1e5759c5700106c8",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "rssi",
        "func": "msg.payload = { \"command\": \"udevice\", \"idx\": 46, \"svalue\": msg.payload.rssi.toString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "92f99b44f6e4214d"
            ]
        ]
    },
    {
        "id": "5c249f909f094174",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "rain",
        "func": "msg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 44, \n  \"svalue\": \n    \"0;\" + msg.payload.rain_mm.toString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 200,
        "wires": [
            [
                "1320715a78e6c163"
            ]
        ]
    },
    {
        "id": "40fc984a854a8f2b",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "wind",
        "func": "msg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 43, \n  \"svalue\": \n    msg.payload.wind_dir_deg.toString() + \";;\" +\n    (msg.payload.wind_avg_m_s * 10.0).toString() + \";\" +\n    (msg.payload.wind_max_m_s * 10.0).toString() + \";\" +\n    msg.payload.temperature_C.toString() + \";\" +\n    msg.payload.temperature_C.toString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "1821381bbf29902d"
            ]
        ]
    },
    {
        "id": "db2b82d700ba7391",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "humidity",
        "func": "msg.payload = { \n    \"command\": \"udevice\", \n    \"idx\": 41, \n    \"nvalue\": msg.payload.humidity,\n    \"svalue\": \"0\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "bbfb0ab0c40dc057"
            ]
        ]
    },
    {
        "id": "38510b80cca55a6f",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "noise",
        "func": "msg.payload = { \"command\": \"udevice\", \"idx\": 48, \"svalue\": msg.payload.noise.toString() };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "ed61b198602141be"
            ]
        ]
    },
    {
        "id": "ed61b198602141be",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "980cf8db72c9f0e9",
        "type": "comment",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "info": "",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "9449628c1ae079f8",
        "type": "switch",
        "z": "fe9aebd46da3c6df",
        "name": "ThermoPro",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "128",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "163",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "24f04fdd45205990",
                "560c783472cb79d2"
            ],
            [
                "9b3e0b4443a45350",
                "98197788ece067ae"
            ],
            [
                "0733d736dabeda9b",
                "b23b4c7d555a522d"
            ]
        ]
    },
    {
        "id": "24f04fdd45205990",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tp2_temp_hum",
        "func": "msg.payload = { \n    \"command\": \"udevice\", \n    \"idx\": 53, \n    \"nvalue\": 0,\n    \"svalue\": \n      msg.payload.temperature_C.toString() + \";\" +\n      msg.payload.humidity.toString() + \";\" + \"0\",\n    \"rssi\" : msg.payload.rssi,\n    \"battery\": msg.payload.battery_ok\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 620,
        "wires": [
            [
                "64afdc88ba1e31d0"
            ]
        ]
    },
    {
        "id": "64afdc88ba1e31d0",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "560c783472cb79d2",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tp2_bat",
        "func": "var status_code = 0;\nvar status_text = \"battery ok\"\n// Level = (0=gray, 1=green, 2=yellow, 3=orange, 4=red)\nif ( 0 != msg.payload.battery_ok ) {\n  status_code = 3;\n  status_text = \"change battery\";\n}\nmsg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 54, \n  \"nvalue\": status_code,\n  \"svalue\": status_text\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 660,
        "wires": [
            [
                "0e5830e6c5e012fd"
            ]
        ]
    },
    {
        "id": "0e5830e6c5e012fd",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "9b3e0b4443a45350",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tp3_temp_hum",
        "func": "msg.payload = { \n    \"command\": \"udevice\", \n    \"idx\": 52, \n    \"nvalue\": 0,\n    \"svalue\": \n      msg.payload.temperature_C.toString() + \";\" +\n      msg.payload.humidity.toString() + \";\" + \"0\",\n    \"rssi\" : msg.payload.rssi,\n    \"battery\": msg.payload.battery_ok\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 720,
        "wires": [
            [
                "fdbbd2e35b1b563c"
            ]
        ]
    },
    {
        "id": "98197788ece067ae",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tp3_bat",
        "func": "var status_code = 0;\nvar status_text = \"battery ok\"\n// Level = (0=gray, 1=green, 2=yellow, 3=orange, 4=red)\nif ( 0 != msg.payload.battery_ok ) {\n  status_code = 3;\n  status_text = \"change battery\";\n}\nmsg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 51, \n  \"nvalue\": status_code,\n  \"svalue\": status_text\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 760,
        "wires": [
            [
                "28a6a40847905aa3"
            ]
        ]
    },
    {
        "id": "0733d736dabeda9b",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tp1_temp",
        "func": "msg.payload = { \n    \"command\": \"udevice\", \n    \"idx\": 49, \n    \"nvalue\": 0,\n    \"svalue\": msg.payload.temperature_C.toString(),\n    \"rssi\" : msg.payload.rssi,\n    \"battery\": msg.payload.battery_ok\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 820,
        "wires": [
            [
                "e572218ee45aafd4"
            ]
        ]
    },
    {
        "id": "b23b4c7d555a522d",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tp1_bat",
        "func": "var status_code = 0;\nvar status_text = \"battery ok\"\n// Level = (0=gray, 1=green, 2=yellow, 3=orange, 4=red)\nif ( 0 != msg.payload.battery_ok ) {\n  status_code = 3;\n  status_text = \"change battery\";\n}\nmsg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 50, \n  \"nvalue\": status_code,\n  \"svalue\": status_text\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 860,
        "wires": [
            [
                "c7ef007fa27e4f72"
            ]
        ]
    },
    {
        "id": "fdbbd2e35b1b563c",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "28a6a40847905aa3",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "e572218ee45aafd4",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "c7ef007fa27e4f72",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 860,
        "wires": []
    },
    {
        "id": "57916a01e675aa33",
        "type": "switch",
        "z": "fe9aebd46da3c6df",
        "name": "DSC",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "7e05fe2fea7cb5b7",
        "type": "switch",
        "z": "fe9aebd46da3c6df",
        "name": "Acurite-5n1",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3617",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "86c502f47fdc211e",
                "48cd4732622abb18"
            ]
        ]
    },
    {
        "id": "86c502f47fdc211e",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tower_wind",
        "func": "var speed = msg.payload.wind_avg_km_h * 10.0 * 1000.0 / 3600.0;\nmsg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 55, \n  \"nvalue\": 0,\n  \"svalue\": \n    msg.payload.wind_dir_deg.toString() + \";;\" +\n    speed.toString() + \";\" +\n    speed.toString() + \";\" +\n    \"0;0\",\n  \"rssi\": msg.payload.rssi\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 920,
        "wires": [
            [
                "733479a8fe57bc27"
            ]
        ]
    },
    {
        "id": "733479a8fe57bc27",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 920,
        "wires": []
    },
    {
        "id": "48cd4732622abb18",
        "type": "function",
        "z": "fe9aebd46da3c6df",
        "name": "tower_rain",
        "func": "var rain = msg.payload.rain_in / 25.4;\nmsg.payload = { \n  \"command\": \"udevice\", \n  \"idx\": 56, \n  \"nvalue\": 0,\n  \"svalue\": \n    \"0;\" + rain.toString(),\n  \"rssi\": msg.payload.rssi\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 960,
        "wires": [
            [
                "f5130dd0cd8d38d5"
            ]
        ]
    },
    {
        "id": "f5130dd0cd8d38d5",
        "type": "mqtt out",
        "z": "fe9aebd46da3c6df",
        "name": "",
        "topic": "domoticz/in",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bff3027feee406c2",
        "x": 790,
        "y": 960,
        "wires": []
    }
]
